*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 80px;
    width: 100%;
    background-color: rgb(44, 5, 123);
}
#check{
    display:none ;
}
.menu{
    display: none;
    color: #fff;
    cursor: pointer;
}
.logo{
    margin:0 20px;
    font-size: 30px;
    font-weight: 700;
    color:#fff;
}
.searchbox{
  display: flex;
  justify-content: space-between;
  width: 350px;
  min-width: 100px;
  background-color: #fff;
  border-radius: 20px;
  min-width:150px;
}
.search{
  padding: 10px;
  width: 100%;
  background: transparent;
  border:0;
  outline: none;
}
.logo2{
   padding:10px;
   font-size: 20px;
}
.booking{
    width:320px;
    display:inline-block;
}
.booking a{
  color: #fff;
  font-size: 18px;
  padding: 10px;
  border-radius:10px;
  border: 1px solid rgb(250, 247, 247);
  margin: 0 10px;
}
.booking  i{
    text-align: center;
}
.booking a:hover{
    background-color:rgba(250,250,250,.3); 
    transition: .3s;
}

#check2{
   display:none ;
}
.more i{
   cursor: pointer;
   padding-left: 4px;
   text-align: center;
   font-size: 20px;margin-top:8px;
}
.more{
    padding:px;
    display: flex;
    color: #fff;
    border: 1px solid white;
    border-radius: 10px;
    display: none;
}
 .option{
    display:inline-block;
   padding: 10px 5px;
    width: 290px;
    
}
.option a{
    color: #fff;
    /* padding:7px 13px; */
    padding: 10px 5px;
    font-size: 17px;
    text-transform:capitalize;
    border-radius: 10px;
    margin: 0 5px;

}
.option a.active,.option a:hover{
    background-color: rgba(250, 247, 247,.3);
    color: rgb(227, 95, 183);
    transition: .3s;
}  
.account {
   margin: 0 20px 0 10px;
}
.account i{
    font-size: 27px;
    color: #fff;
    font-weight:lighter;
}
.account i:hover{
    color: rgb(227, 95, 183);
}
.container1{
    background:rgba(0,0,0,.4) url(../img/tour.4.avif);
    background-blend-mode:darken;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    width: 100%;
    height:89vh;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}
.container1 .con{
    text-align: center;
    margin-top:70px;
}
.container1 article h1, p{
    padding: 10px;
    text-transform:capitalize;
}
.container2{
    height:450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sub1-container2{
    width: 450px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;  
    margin: 0 5px 0 5px;
    
}
.sub2-container2{
    flex-grow:1;
    background-color: rgba(44, 5, 123,.8);
    color:rgb(187, 181, 181);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    flex-wrap: wrap;
    min-width: 100px;
}
.sub2-container2 h3{
    font-size:20px;
    border-bottom: 1px solid black;
}
.sub101-container2{
    background-color: rgb(0, 119, 255);
    color:rgb(187, 181, 181);
    border-radius: 5px;
    max-width:100px;
}
.sub101-container2 h2{
    padding:7px 10px;
    text-align: center;
}
.container3{
    background: url(../img/tour2.avif);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub-container31{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 900px; 
    height:450px;
}
.sub-container31 h3{
    color:rgb(42, 251, 171);
}
.sub-container32{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub-container32 h1{
    font-size: 30px;
    padding-left:10px;
}
.container3 img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.container3 article{
    height: 200px;
    width: 200px;
    padding:10px;
    background-color: rgba(250, 247, 247,.2);
    text-align: center;
    border-radius: 10px;
    color: #fff;
}
.container4{
    background: url(../img/tour5.avif);
    height:100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container4 h1{
    text-align: center;
    padding-top:50px;
}
.sub-container41{
   display: flex;
   justify-content: center;
   align-items: center;
   gap:10px;
   flex-wrap: wrap;
   margin-top:100px; 
}
.sub1-container41{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 250px;
    background-color: rgba(44, 5, 123,.3);
    color: #fff;
}
.sub1-container41 h2{
    text-align: center;
}
.sub2-container41{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sub3-container41{
   width: 35px;
   height: 35px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: cadetblue;
   border-radius: 50%;
}
footer{
    height:50px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(63, 59, 59);
    color: wheat;
    bottom: 0px;
}
footer .social{
    padding: 10px;
}
footer i{
    padding: 6px;
    font-size: 25px;
    border-radius: 10px;
}
.fb{
    color: white;
    background-color: rgb(27, 90, 184);
}
.insta{
    color:#fff;
    background-image: linear-gradient(to bottom right, red,yellow);
}
.x{
    background-color: rgb(12, 12, 12);
    color: #fff;
}
.yt{
    background-color: #fff;
    color: red;
}
.mail{
    background-color: #fff;
    color: red;
}
.wapp{
    background-color: greenyellow;
    color: #fff;
}
@media(max-width:1135px){
    label.logo{
        font-size: 25px;
        margin: 0 10px;
    }
    .menu{
        display:flex;
        margin-left: 5px;
    }
    .option{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: cadetblue;
        top: 80px;
        left: -100%;
        transition: all .5s;
        text-align: center;
        z-index: 1;
    }
    .option a{
       display:block;
       margin: 30px  30px;
       line-height: 30px;
       
    }
    #check:checked~.option{
        left: 0;
    }
}
@media(max-width:850px){
    .more{
        display: flex;
        margin-left: 10px;
    }
    .booking{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        background-color:cadetblue;
        right:-100%;

    }
    .booking a{
        display: block;
    }
    #check2:checked~.booking{
        right: 0;
    }
}
@media(max-width:600px){
    .sub1-container2{
        width: 350px;
        min-width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap:7px;
        padding: 6px;  
        margin: 0 5px 0 5px;
        
    }
    .sub2-container2{
        flex-grow:1;
        background-color: rgba(44, 5, 123,.8);
        color:rgb(187, 181, 181);
        padding: 2px;
        border-radius: 5px;
        text-align: center;
        flex-wrap: wrap;
    } 
    .sub2-container2 h3{
        font-size:17px;
        border-bottom: 1px solid black;
    }
}
@media(max-width:1011px){
    .sub-container31 h2{
        font-size: 15px;
        border-bottom: 2px solid rgb(108, 133, 131);
    }
    .sub-container31 h3{
        font-size: 12px;
        color:rgb(42, 251, 171);
        padding: 3px;
    }
    .sub-container32 h1{
        font-size: 24px;
        position: absolute;
        top: 105%;
        left: 40%;
        z-index:0;
    }
    .container3 img{
        height: 70px;
        width: 70px;
    }
    .container3 article{
        height:140px;
        width: 140px;
    }
}
@media(max-width:440px){
    .sub-container31 h2{
        font-size: 12px;
        border-bottom:1.5px solid rgb(108, 133, 131);
    }
    .sub-container31 h3{
        font-size: 10px;
    }
    .sub-container32 h1{
        position: absolute;
        top: 105%;
        left: 30%;
        z-index:;
    }
    .container3 img{
        height: 60px;
        width: 60px;
    }
    .container3 article{
        height:120px;
        width: 120px;
    }
}
@media(max-width:775px){
    .sub1-container41{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width: 150px;
        height: 150px;
        background-color: rgba(44, 5, 123,.3);
        color: #fff;
    }
    .sub1-container41 h2{
       font-size: 15px;
    }
    .sub1-container41 h3{
        font-size: 12px;
    }
} 
@media(max-width:600px){

footer p{
    font-size: 11px;
}
footer i{
    padding: 3px;
    font-size:13px;
    border-radius: 10px;
}
}